<!DOCTYPE html>
<html>

<head>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="\static\js\csv_plot.js"></script>
    {% block head %}

    {% endblock %}
    <title>
        dashboard 2
    </title>

</head>

<body style="background-color: black; color: white;">
    {% block body %}

    <button type="button"><a href="{% url 'stock' %}">Stocks</a></button>
    <br><br>

    

    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.non_field_errors }}
        <div class="uploadfileform">
            {% load widget_tweaks %}
            <div class="formPart">
                <label for="{{ form.csv_file.id_for_label }}">Csv File</label>
                {{ form.csv_file }}
                {{ form.csv_file.errors }}
            </div><br>
            <div class="formPart">
                <label for="{{ form.description.id_for_label }}">Description</label><br>
                {{ form.description }}
                {{ form.description.errors }}
            </div>
        </div>
        <input type="submit" name="submit" value="submit">
    </form>

    <div class="graphTypeButtons">
        <button class="graphType" id="graph_type" value="candlestick">Candlestick</button>
        <button class="graphType" id="graph_type" value="scatterplot">Scatter Plot</button>
        <button class="graphType" id="graph_type" value="areaplot">Area Plot</button>
        <button class="graphType" id="graph_type" value="barplot">Bar Plot</button>
        <button class="graphType" id="graph_type" value="volatility">volatility</button>
        <button class="graphType" id="graph_type" value="cumulative_returns">Cumulative Returns</button>

    </div>
<br>
    <div class="data_files">
        {% for csv_file in csv_files %}
        <button class="dataFiles" id="stock_name" value="{{ csv_file.csv_file }}">{{ csv_file.csv_file }}</button>
        {% endfor %}
    <br>
    </div>

    <!------------------------------------ Plotting div ------------------------------------>

    <div id="list_data">
        <button type="button" id="readbutton" onclick="getApiPlot()">Read data</button>
    </div>

    <div id="plot_csv">
    
    </div>
    <!------------------------------------ Plotting div END ------------------------------------>

    {% endblock %}
</body>

</html>