<!DOCTYPE html>
<html>
    <head>
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
        <title>
            dashboard 2
        </title>
    </head>
    <body style="background-color: black; color: white;">
        {% block body %}

        <button type="button"><a href="{% url 'stock' %}">Stocks</a></button>
        <br>

        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form }}
            <input type="submit" name="submit" value="submit">
        </form>

        This is a plot
        {% autoescape off %}
        {{ plot_div }}
        {% endautoescape %}
        {% endblock %}
    </body>
</html>