{% extends 'index.html' %}

{% block head %}
<script src="\static\js\csv_plot.js"></script>
{% endblock %}

{% block body %}
<button type="button"><a href="{% url 'index' %}">Index Page</a></button>

<form action="" method="POST">
    {% csrf_token %}
    {{ form }}
    <input type="submit" name="submit" value="submit">
</form>
<br>
{% for stock in stock_files %}
    {{ stock.csv_file.url }}<br>
{% endfor %}

<div id="list_data">
    <button type="button" id="readbutton" onclick="getApiPlot()">Read data</button>
</div>

<div id="plot_csv">
    
</div>

{% autoescape off %}
    {{ bar_plot_div }}
    {{ candlestick_plot_div }}
    {{ scatter_plot_div }}
    {{ area_plot_div }}
{% endautoescape %}

{% endblock %}