{% extends 'index.html' %}

{% block head %}
{% endblock %}

{% block body %}
<button type="button"><a href="{% url 'index' %}">Index Page</a></button>

<h1>Here you can download and view graphs for a new stock or time periods</h1>

<form action="" method="POST">
    {% csrf_token %}
    {{ form }}
    <input type="submit" name="submit" value="submit">
</form>
<br>
{% for stock in stock_files %}
    {{ stock.csv_file.url }}<br>
{% endfor %}

{% autoescape off %}
    {{ bar_plot_div }}
    {{ candlestick_plot_div }}
    {{ scatter_plot_div }}
    {{ area_plot_div }}
{% endautoescape %}

{% endblock %}